footer.footer
  .footer__container
    .footer__row-1
      .footer__contacts Ссылки
        span.footer__link-1 vk.com/example-group
      .footer__addresses Адрес
        span.footer__address-1 г. Ижевск, Радужная ул., д. 6 кв.20
      .footer__workingHours Часы работы
        span.footer__weekdays Будни: Круглосуточно
        span.footer__holidays Выходные: 8:30 - 23:30
    .footer__row-2
      .footer__copyright © example 2022