doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='./images/logo.png')
    link(rel='stylesheet', href='./views/css/default.css')
    link(rel='stylesheet', href='./views/css/header.css')
    link(rel='stylesheet', href='./views/css/footer.css')
    link(rel='stylesheet', href='./views/css/workspace-manager.css')
    script(src='./views/js/header.js', defer)
    script(src="./views/js/workspace-manager.js", defer)
    title= title
  body
    .wrapper
      include ./header.pug
      main.main
        h1.main__welcome Рабочая панель пользователя
        .main__container
          .main__tabs.tabs
            .tabs__register Создать учетную запись
            .tabs__dbcontrol Настройка базы данных
            ul.tabs__dbtables
              li.tabs__table Orders
              li.tabs__table OrdersList
              li.tabs__table Products
              li.tabs__table Recipes
              li.tabs__table Dishes
              li.tabs__table IngredientLists
              li.tabs__table Employees
              li.tabs__table Roles
              li.tabs__table Storage
              li.tabs__table StorageOperations
              li.tabs__table SupplyLists
            .tabs__products-order Заказать продукты
            .tabs__settings Настройки
          .main__content.content
            .content__header
              h2 Выберите меню
            .content__info
      include ./footer.pug