@font-face {
    font-family: "Comfortaa";
    src: url(../../fonts/Comfortaa-VariableFont_wght.ttf);
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(19, 19, 19);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa, sans-serif;
}
html, body {
    height: 100%;
    font-size: 16px;
}
@media (max-width: 375px) {
    html, body {
        font-size: 14px;
    }
}
@media (min-width: 2000px) {
    html, body {
        font-size: 22px;
    }
}